- resource.awards=[resource.awards.build]*2 if resource.new_record?
= simple_form_for [ :admin, resource ], :html => { :class => 'form-horizontal' }  do |f|
  - (attributes - %w(code)).each do |attr|
    = f.input attr
  = f.hidden_field :code , :value => SecureRandom.hex(8)
  = f.fields_for :awards do |b|
    %li
      %ul
        = b.hidden_field :code , :value => SecureRandom.hex(8)
        %li=b.input :title
        %li=b.input :probability
        %li=b.input :count
  = f.submit :class => 'btn btn-primary'
=link_to t("#{resource_class.name.underscore}.back_list") , collection_path
